<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
  <div class="container-fluid">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link fw-bold" routerLink="/employees">List Of Employees</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/addEmployee">Add Employee</a>
      </li>
    </ul>
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-success" type="submit">Search</button>
    </form>
  </div>
</nav>


<div class="container">
  <router-outlet></router-outlet>
</div>
